/* Author: Roger Xu
   License: none (public domain)
*/

code {
    margin: 0 2px;
    padding: 3px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}

pre code {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

pre > code {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
}
